.contentWrapper {
  text-align: center;
}

.temps {
  display: flex;
  padding: 5px;
}

.valueWrapper {
    padding-top: 15px;
  margin: 0 auto;
  display: table;
}

.inputBoxes Button, Input {
background-color: linen;
}

.inputBoxes Input {
  background-color: linen;
  }
  
  .inputBoxes Select {
    background-color: linen;
  }

@media (min-width: 320px) and (max-width: 480px) {
  
  .inputBoxes {
    display: flex;
  }

  .temps {
    padding: 0px;
  }
  
}