.text {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  width: 100%;
  color: darkslateblue;
  margin-bottom: 10px;
  margin-top: 10px;
}

.border {
    width:60%;
    border-bottom: 2px solid gray;
    margin-left: 20%;
}

.title {
  width: 320px;
  text-align: center;
  border: 1px solid rgba(14, 20, 32, 0.561);
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(127,125,179,1);
  -moz-box-shadow: 0px 0px 8px 3px rgba(127,125,179,1);
  box-shadow: 0px 0px 8px 3px rgba(127,125,179,1);
  background:rgba(3, 33, 133, 0.171);
}

.title:hover{
  -webkit-box-shadow: 0px 1px 8px 5px rgba(127,125,179,1);
  -moz-box-shadow: 0px 1px 8px 5px rgba(127,125,179,1);
  box-shadow: 0px 1px 8px 5px rgba(127,125,179,1);
}
.instruction {
  text-align: center;
  width: 100%;
}
