.city {
  padding-right: 5px;
}

.cityStyles {
  background: whitesmoke;
  border-radius: 5px;
}

.country {
  padding-right: 5px;
}

.formControl {
  border-radius: 5px;
  background-color: whitesmoke;
}

.button {
  height: 56px;
}

.box {
  border: 2px solid lightcyan;
  width: 130px;
  height: 130px;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 0 8px 6px -9px black;
  background: lightsteelblue;
}

.box:hover {
  background: lightgrey;
}
.boxwrapper {
  padding: 5px;
}

.icon {
  padding-top: 8px;
}

.text {
  margin-bottom: 5px;
  margin-top: 6px;
}

.locationButton {
  background-color: whitesmoke;
  display: inline-flex;
  border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .country {
    padding-right: 3px;
  }

  .city {
    padding-right: 3px;
    margin-left: 12px;
  }
  .locationButton {
    margin-right: 9px;
  }
  .box {
    border: 2px solid lightcyan;
    width: 110px;
    height: 120px;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 8px 6px -9px black;
    background: whitesmoke;
  }
  .boxwrapper {
    padding: 5px;
  }
}
